Options +FollowSymlinks
RewriteEngine on
RewriteRule ^([A-Za-z]+)/([a-z]+)/([0-9]+)$  index.php?section=$1&action=$2&id=$3
RewriteRule ^([A-Za-z]+)/([a-z]+)/([0-9_a-zA-Z-éèôà',!?]+)$  index.php?section=$1&action=$2&id=$3
RewriteRule ^Manifestation/region/([A-Za-z-ô'éè_]+)/([0-9]+)$ index.php?section=Manifestation&action=region&id=$2
RewriteRule ^Manifestation/ville/([A-Z0-9]+)/([A-Za-z-ô'éè_]+)$ index.php?section=Manifestation&action=ville&id=$2
RewriteRule ^([A-Za-z]+)/([a-z]+)$  index.php?section=$1&action=$2
RewriteRule ^([A-Za-z]+)/Annoncer-une-manifestation$  index.php?section=$1&action=add
RewriteRule ^([A-Za-z]+)/Rechercher-des-manifestations$  index.php?section=$1&action=rechercher
RewriteRule ^([A-Za-z]+)/([A-Za-z-ô'éè_]+)/([A-Za-z-ôéè'_]+)/([A-Z0-9]+)$ index.php?section=$1&action=department&id=$4
RewriteRule ^([A-Za-z]+)/([A-Za-z_À-ÿ-]+)/([A-Za-z_'À-ÿ-]+)/([A-Za-z_'À-ÿ-]+)/([A-Za-z0-9-ôéèà,'_]+)$ index.php?section=$1&action=show&name=$5
RewriteCond %{HTTP_HOST} ^123brocante.com$
RewriteRule ^(.*) http://www.123brocante.com/$1 [QSA,L,R=301]
RewriteRule ^sitemap\.xml$  /sitemap.php [L]

