Options +FollowSymlinks
RewriteEngine on
RewriteRule ^([A-Za-z]+)/([a-z]+)/([0-9]+)$  index.php?section=$1&action=$2&id=$3
RewriteRule ^([A-Za-z]+)/([a-z]+)$  index.php?section=$1&action=$2
#RewriteRule views/update index.php?section=User&action=update