
<div id="content" class="clearfix">
    <div class="container">
        <div class="row">

            <div id="main" class="span12">

                <div class="login-register">
                    <h2>Login or Register</h2>

                    <div class="row">
                        <div class="span4 offset4">
                            <ul class="tabs nav nav-tabs">
                                <li class="active"><a href="#login" data-toggle="tab">Connexion</a></li>
                                <li><a href="#register" data-toggle="tab">Inscription</a></li>
                            </ul>
                            <!-- /.nav -->

                            <div class="tab-content">
                                <div class="tab-pane active" id="login">
                                    <form method="post" action="/User/login">

                                        <div class="control-group">
                                            <label class="control-label">
                                                Email
                                                <span class="form-required">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="text" name="userLogin" required="required">
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">
                                                Mot de passe
                                                <span class="form-required">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="password" name="password" required="required">
                                            </div>
                                            <!-- /.controls -->
                                           <a style="text-aligns: center" href="/User/redefine"> Mot de passe oublié? </a>
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="form-actions">
                                            <input type="submit" value="Se connecter"
                                                   class="btn btn-primary arrow-right">
                                        </div>
                                        <!-- /.form-actions -->
                                    </form>
                                </div>
                                <!-- /.tab-pane -->

                                <div class="tab-pane " id="register">
                                    <form method="post"
                                          action="/User/inscription">

                                        <div class="control-group">
                                            <label class="control-label">
                                                Nom
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="text" required="required" name="lastName">
                                            </div>
                                            <!-- /.controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                Prénom
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="text" required="required" name="firstName">
                                            </div>
                                            <!-- /.controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                E-mail
                                                <span class="form-required" title="This field is required.">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="email" required="required" name="userLogin">
                                            </div>
                                            <!-- /.controls -->
                                        </div>

                                        <div class="control-group">
                                            <label class="control-label">
                                                Téléphone
                                            </label>

                                            <div class="controls">
                                                <input type="text" name="phone">
                                            </div>
                                            <!-- /.controls -->
                                        </div>


                                        <div class="control-group">
                                            <label class="control-label">
                                                Mot de passe
                                                <span class="form-required">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="password" name="password" required="required">
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->

                                        <div class="control-group">
                                            <label class="control-label">
                                                Confirmer le mot de passe
                                                <span class="form-required">*</span>
                                            </label>

                                            <div class="controls">
                                                <input type="password" name="password2" required="required">
                                            </div>
                                            <!-- /.controls -->
                                        </div>
                                        <!-- /.control-group -->




                                        <div class="form-actions">
                                            <input type="submit" value="S'inscrire" class="btn btn-primary arrow-right">
                                        </div>
                                        <!-- /.form-actions -->
                                    </form>
                                </div>
                                <!-- /.tab-pane -->
                            </div>
                            <!-- /.tab-content -->
                            <hr>
                        </div>
                        <!-- /.span4-->




                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.login-register -->

            </div>
            <!-- /#main -->

        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</div>
